<div class="card">
    <span class="block text-900 font-bold text-xl mb-4">Neuer Eintrag</span>
    <div class="grid grid-nogutter flex-wrap gap-3 p-fluid">
        <div class="col-12 lg:col-8">
            <div class="grid formgrid">
                <div class="col-12 lg:col-8 field">
                    <input pInputText type="text" placeholder="Titel" label="Text" [(ngModel)]="medicalHistoryEntry.title" />
                </div>
                <div class="col-12 lg:col-4 field">
                    <input pInputText type="text" placeholder="Datum" label="Price" [(ngModel)]="medicalHistoryEntry.date" />
                </div>
                <!-- <div class="col-12 lg:col-4 field">
                    <input
                        pInputText
                        type="text"
                        placeholder="Behandelnder Arzt"
                        label="Product Code"
                        [(ngModel)]="product.code"
                    />
                </div> -->
                <!-- <div class="col-12 lg:col-4 field">
                    <input
                        pInputText
                        type="text"
                        placeholder="Product SKU"
                        label="SKU"
                        [(ngModel)]="product.sku"
                    />
                </div> -->
                <div class="col-12 field">
                    <p-editor [(ngModel)]="medicalHistoryEntry.text" [style]="{ height: '250px' }"></p-editor>
                </div>
                <div class="col-12 field">
                    <p-fileUpload #fileUploader name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                        [customUpload]="true" [multiple]="true" (onSelect)="onUpload($event)" accept="image/*"
                        [showUploadButton]="true" [showCancelButton]="false" [auto]="true"
                        styleClass="border-1 surface-border surface-card border-round" chooseLabel="Auswählen">
                        <ng-template pTemplate="content">
                            <div class="h-15rem overflow-y-auto py-3 border-round" style="cursor: copy" (click)="
                                    fileUploader.advancedFileInput.nativeElement.click()">
                                <div *ngIf="!medicalHistoryEntry.images.length"
                                    class="flex flex-column w-full h-full justify-content-center align-items-center">
                                    <i class="pi pi-file text-4xl text-primary"></i>
                                    <span class="block font-semibold text-900 text-lg mt-3">Datei hinzufügen</span>
                                </div>
                                <div class="flex flex-wrap gap-3 border-round" *ngIf="medicalHistoryEntry.images.length">
                                    <div *ngFor="
                                        let file of medicalHistoryEntry.images;
                                        let i = index"
                                        class="h-full relative w-7rem h-7rem border-3 border-transparent border-round hover:bg-primary transition-duration-100 cursor-auto"
                                        (mouseenter)="onImageMouseOver(file)" (mouseleave)="onImageMouseLeave(file)"
                                        style="padding: 1px">

                                        <img [src]="file.objectURL" class="w-full h-full border-round shadow-2"
                                            [alt]="file.name" />
                                        <button [id]="file.name" #buttonEl pButton pRipple type="button"
                                            icon="pi pi-times"
                                            class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center cursor-pointer w-2rem h-2rem"
                                            style="
                                                top: -10px;
                                                right: -10px;
                                                display: none;" 
                                                (click)="$event.stopPropagation(); removeImage(file)">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-fileUpload>
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center gap-3 py-2">
                        <button
                            pButton
                            pRipple
                            class="p-button-danger flex-1 p-button-outlined"
                            label="Verwerfen"
                            icon="pi pi-fw pi-trash"
                            (click)="discardEntry()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            class="p-button-primary flex-1 border-round"
                            label="Speichern"
                            icon="pi pi-fw pi-check"
                            (click)="saveEntry()"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>