<div class="grid">
    <div class="col-12">
        <div class="card" style="padding: 0 40px;">
            <h3 style="padding: 20px; padding-top: 30px; text-align: center;">Frag Claude</h3>
            


            <div *ngIf="showMedicalWarning" class="warning-message">
                <b>Bitte beachte, dass die Nutzung des Claude Moduls lediglich eine Demo-Anwendung darstellt und
                    keinesfalls eine professionelle medizinische Beratung oder Behandlung ersetzen kann. Claude dient lediglich als ergänzender
                    Ideengeber, um dein Verständnis zu vertiefen und deine Gesprächsgrundlage mit Ärzten zu erweitern. Letztendlich
                    solltest du dich für alle medizinischen Entscheidungen auf die Expertise von zugelassenen Ärzten
                    verlassen.</b>
              </div>
            
            <div class="grid">
                <div class="col-12">
                    <div class="card" style="padding: 0 40px;">
                        <div class="grid" style="margin-top: 20px; text-align: center;">
                            <div class="col-12">
                                <div class="chat-container" style="height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                                    <div *ngFor="let message of chatHistory" [ngClass]="{'user-message': message.role === 'user', 'claude-message': message.role === 'assistant'}">
                                        <strong>{{ message.role === 'user' ? 'You' : 'Claude' }}:</strong> {{ message.content }}
                                    </div>
                                </div>
                                <textarea pInputTextarea [(ngModel)]="userInput" [rows]="3" [cols]="90" [autoResize]="false" placeholder="Frage eingeben"></textarea>
                            </div>
                            <div class="col-12" style="padding-bottom: 40px;">
                                <p-button label="Frag Claude" (onClick)="promptClaude()" [disabled]="isLoading"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <p-dialog header="Enter Claude API Key" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
            <div class="p-fluid">
            <div class="p-field">
                <label for="apiKey">API Key</label>
                <input id="apiKey" type="text" pInputText [(ngModel)]="apiKey" />
            </div>
            </div>
            <ng-template pTemplate="footer">
            <button pButton type="button" label="Save" (click)="saveApiKey()" [disabled]="!apiKey"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>