<div class="layout-topbar" [ngClass]="{
        'border-bottom-none': layoutService.config().topbarTheme !== 'light'
    }">


    <div class="layout-topbar-end surface-border">
        <div class="layout-topbar-actions-start">
            <a *ngIf="!layoutService.isHorizontal()" #menuButton class="layout-menu-button hidden lg:flex"
                (click)="onMenuButtonClick()" pRipple>
                <i class="pi pi-bars"></i>
            </a>
        </div>

        <div class="layout-topbar-actions-end">
            <ul class="layout-topbar-items">
                <li class="layout-topbar-profile">
                    <a *ngIf="!layoutService.isMobile()" pStyleClass="@next" enterFromClass="hidden"
                        enterActiveClass="scalein" leaveToClass="hidden" leaveActiveClass="fadeout"
                        [hideOnOutsideClick]="true">
                        <div class="flex gap-2">
                            <img src="assets/layout/images/avatar-profile.png" alt="demo" />
                            <div class="flex flex-column">
                                <span class="font-semibold">Tobi</span>
                                <span class="text-sm">Webmaster</span>
                            </div>
                        </div>
                    </a>
                    <div class="layout-topbar-menu p-0 shadow-2 hidden">
                        <ul class="list-none p-0 m-0">
                            <a [routerLink]="'/profile'">
                                <li class="py-3 px-4 flex gap-2 cursor-pointer">
                                    <i class="pi pi-cog pi-star text-lg"></i>
                                    <span class="font-semibold mx-3">Einstellungen</span>
                                </li>
                            </a>
                            <li class="py-3 px-4 flex gap-2 cursor-pointer">
                                <a>
                                    <i class="pi pi-file pi-lock text-lg"></i>
                                    <span class="font-semibold mx-3">Ausloggen</span>
                                </a>
                            </li>
                            <!-- <li class="py-3 px-4 flex gap-2 cursor-pointer">
                                <a>
                                    <i class="pi pi-compass pi-image text-lg"></i>
                                    <span class="font-semibold mx-3">Support</span>
                                </a>
                            </li>
                            <li class="py-3 px-4 flex gap-2 cursor-pointer">
                                <a>
                                    <i class="pi pi-power-off pi-image text-lg"></i>
                                    <span class="font-semibold mx-3">Logout</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>