<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="profile-container">
                <h2>Edit Profile</h2>

                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="grid">
                        <div class="col-12 md:col-8 lg:col-6 mx-auto">
                            <label for="name">Username</label>
                            <input id="name" type="text" pInputText formControlName="name" class="w-full">
                        </div>
    
                        <div class="col-12 md:col-8 lg:col-6 mx-auto">
                            <label for="email">Email</label>
                            <input id="email" type="email" pInputText formControlName="email" class="w-full">
                        </div>
    
                        <div class="col-12 md:col-8 lg:col-6 mx-auto">
                            <label for="firstName">Vorname</label>
                            <input id="firstName" type="text" pInputText formControlName="firstName" class="w-full">
                        </div>
    
                        <div class="col-12 md:col-8 lg:col-6 mx-auto">
                            <label for="lastName">Nachname</label>
                            <input id="lastName" type="text" pInputText formControlName="lastName" class="w-full">
                        </div>
    
                        <div class="col-12 md:col-8 lg:col-6 mx-auto">
                            <label for="birthDate">Geburtsdatum</label>
                            <input id="birthDate" type="date" pInputText formControlName="birthDate" class="w-full">
                        </div>
    
                        <div class="col-12 md:col-8 lg:col-6 mx-auto" style="text-align: left;">
                            <button pButton type="submit" label="Save" [disabled]="!profileForm.valid"></button>
                        </div>
                    </div>
                </form>

                <p-toast></p-toast>
            </div>
        </div>
    </div>
</div>