<p-tabView>
    <p-tabPanel header="Details">
        <div class="text-900 font-bold text-3xl mb-4 mt-2">
            Product Details
        </div>
        <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">
            Volutpat maecenas volutpat blandit aliquam etiam erat velit
            scelerisque in. Duis ultricies lacus sed turpis tincidunt id.
            Sed tempus urna et pharetra. Metus vulputate eu scelerisque
            felis imperdiet proin fermentum. Venenatis urna cursus eget nunc
            scelerisque viverra mauris in. Viverra justo nec ultrices dui
            sapien eget mi proin. Laoreet suspendisse interdum consectetur
            libero id faucibus.
        </p>

        <div class="grid">
            <div class="col-12 lg:col-4">
                <span class="text-900 block font-medium mb-3 font-bold"
                    >Highlights</span
                >
                <ul class="py-0 m-0 text-600 mb-3 pl-3">
                    <li class="mb-2">Vulputate sapien nec.</li>
                    <li class="mb-2">Purus gravida quis blandit.</li>
                    <li class="mb-2">
                        Nisi quis eleifend quam adipiscing.
                    </li>
                    <li>Imperdiet proin fermentum.</li>
                </ul>
            </div>
            <div class="col-12 lg:col-4">
                <span class="text-900 block mb-3 font-bold"
                    >Size and Fit</span
                >
                <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
                    <li class="mb-3">
                        <span class="font-semibold">Leo vel:</span> Egestas
                        congue.
                    </li>
                    <li class="mb-3">
                        <span class="font-semibold">Sociis natoque:</span>
                        Parturient montes nascetur.
                    </li>
                    <li>
                        <span class="font-semibold">Suspendisse in:</span>
                        Purus sit amet volutpat.
                    </li>
                </ul>
            </div>
            <div class="col-12 lg:col-4">
                <span class="text-900 block mb-3 font-bold"
                    >Material & Care</span
                >
                <ul
                    class="p-0 m-0 flex flex-wrap flex-column xl:flex-row text-600"
                >
                    <li
                        class="flex align-items-center white-space-nowrap w-10rem block mr-2 mb-3"
                    >
                        <i class="pi pi-sun mr-2 text-900"></i>
                        <span>Not dryer safe</span>
                    </li>
                    <li
                        class="flex align-items-center white-space-nowrap w-10rem block mb-3"
                    >
                        <i class="pi pi-times-circle mr-2 text-900"></i>
                        <span>No chemical wash</span>
                    </li>
                    <li
                        class="flex align-items-center white-space-nowrap w-10rem block mb-3 mr-2"
                    >
                        <i class="pi pi-sliders-h mr-2 text-900"></i>
                        <span>Iron medium heat</span>
                    </li>
                    <li
                        class="flex align-items-center white-space-nowrap w-10rem block mb-3"
                    >
                        <i class="pi pi-minus-circle mr-2 text-900"></i>
                        <span>Dry flat</span>
                    </li>
                </ul>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>